azure-storage-blob==12.22.0
cryptography
flask==3.0.3
gunicorn==21.2.0
httpx[http2]
olefile
openai
Pillow
pillow-heif
pillow-avif-plugin
PyJWT
pypdf
pytesseract
python-docx
pytz
reportlab
werkzeug
pillow-avif-plugin
