{% extends "layout.html" %}
{% block title %}Axion | Home{% endblock %}
{% block page_title %}Home{% endblock %}

{% block content %}
<form method="get" action="/jobs" class="mb-4">
  <div class="input-group input-group-lg">
    <input type="text"
           name="q"
           class="form-control ax-search"
           placeholder="Search jobs, customer, rego, VIN..."
           autocomplete="off">
    <button class="btn btn-primary ax-search-btn" type="submit">Search</button>
  </div>
</form>

<div class="row g-3 mb-4">
  <div class="col-12 col-md-6 col-xl">
    <a class="ax-tile ax-tile-all" href="/jobs">
      <div class="ax-tile-title">All Jobs</div>
      <div class="ax-tile-value">{{ jobs_all }}</div>
    </a>
  </div>
  <div class="col-12 col-md-6 col-xl">
    <a class="ax-tile ax-tile-new" href="/jobs?status=New">
      <div class="ax-tile-title">New</div>
      <div class="ax-tile-value">{{ jobs_new }}</div>
    </a>
  </div>
  <div class="col-12 col-md-6 col-xl">
    <a class="ax-tile ax-tile-active" href="/jobs?status=Active">
      <div class="ax-tile-title">Active</div>
      <div class="ax-tile-value">{{ jobs_active }}</div>
    </a>
  </div>
  <div class="col-12 col-md-6 col-xl">
    <a class="ax-tile ax-tile-suspended" href="/jobs?status=Suspended">
      <div class="ax-tile-title">Suspended</div>
      <div class="ax-tile-value">{{ jobs_suspended }}</div>
    </a>
  </div>
  <div class="col-12 col-md-6 col-xl">
    <a class="ax-tile ax-tile-invoiced" href="/jobs?status=Invoiced">
      <div class="ax-tile-title">Invoiced</div>
      <div class="ax-tile-value">{{ jobs_invoiced }}</div>
    </a>
  </div>
</div>

<a class="btn btn-primary" href="/jobs/new">New Job</a>
{% endblock %}
